<div class="container">
  <div class="title">Bingo App</div>
  <div>
    <div class="btn-row">
      <button class="get-word" (click)="getNewWord()">Get new word</button>
      <button class="reset" (click)="resetGame()">Reset</button>
    </div>

    <div class="flex-row">
      <p
        class="list-item"
        *ngFor="let word of originalWordList"
        [ngClass]="{
          'green-box': isAlreadySelected(word),
          'current-box': currentWord === word
        }"
      >
        {{ word }}
      </p>
    </div>
  </div>
</div>
